* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #FFF;
    --gray-primary: #18191A;
    --gray-secondary: #222222;

    --purple-primary: #BE368E;
}

body {
    background-color: var(--gray-primary);
}

body, input, textarea, button {
    font: 500 1rem sans-serif;
    color: var(--white);
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

button {
    cursor: pointer;
}